@model ShoppingCartVM

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow border-0 mt-5">
                <div class="card-header bg-black bg-gradient  text-light">
                    <h5 class="pt-2 text-uppercase">Checkout</h5>
                </div>
                <div class="card-body">
                    <form id="checkoutForm" method="post">
                        <div class="mb-3">
                            <label for="inputName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="inputName" name="Name" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputAddress" class="form-label">Address</label>
                            <input type="text" class="form-control" id="inputAddress" name="Address" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputCity" class="form-label">City</label>
                            <input type="text" class="form-control" id="inputCity" name="City" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputState" class="form-label">State</label>
                            <input type="text" class="form-control" id="inputState" name="State" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputZip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="inputZip" name="Zip" required>
                        </div>
                        @*  <div class="mb-3">
                        <label class="form-label">Total Price</label>
                        <input type="text" class="form-control" value="@Model.Total.ToString("c")" readonly>
                        </div> *@
                        <div class="text-center">                            
                            <a asp-area="Customer" asp-controller="Cart" asp-action="ClearCart" class="btn btn-primary border-0 bg-gradient w-50 py-2">Clear Cart</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("checkoutForm").addEventListener("submit", function (event) {

        event.preventDefault();


        alert("Order placed successfully!");


        setTimeout(function () {
            window.location.href = "/";
        }, 1000);
    });
</script>